<div class="container">
	<h1>Login Form</h1>
	<form #loginForm="ngForm">
		<div class="form-group">
			<label for="usuario">Usuario</label>
			<input type="text" class="form-control" id="usuario" [(ngModel)]="model.usuario" name="usuario" #usuario='ngModel' required>
			<div [hidden]="usuario.valid || usuario.pristine"	class="alert alert-danger">
  			Usuario is required
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" #password='ngModel' required>
			<div [hidden]="password.valid || password.pristine"	class="alert alert-danger">
  			Password is required
			</div>
		</div>
		<button type="button" class="btn btn-default" (click)="login()">Login</button>
	</form>
</div>
{{ model.usuario }} - 
{{ model.password }}
<br>
{{ responseLogin.RESPONSE.SESSION.Zend_Auth.storage.apellido_paterno }} <br>
{{ storage.apellido_paterno }}

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of storage">{{ item.apellido_paterno }}</li>
</ul>

